.fondo {
	margin: 0 ;
	font-family: sans-serif;

}

header{
	width: 100% ;
	background: #333 ;


}

#menu-bar{
	display: none;
}

header label {
	display: none;
	width: 30px ;
	height: 30px ;
	padding: 10px ;

	 

}

header label:hover{
	cursor: pointer;
	background: rgba(0,0,0,0,3);


}

.menu ul{
	margin: 0 ;
	list-style: none;
	padding: 0 ;
	display: flex;
	flex-direction: row;
	float: right;

	
}

.menu li{
	border-right: 1px solid #fff ;
}

.menu li:hover{
	background: rgba(0,0,0,0.3);
}

.menu li a{
	display: block;
	padding: 15px 20px ;
	color: #fff ;
	text-decoration: none;

}


/*medias*/


@media (max-width: 781px){
	header label{
		display: block;
		float: right;
    }

    .menu{
    	position: absolute;
    	background: #4E94AB ;
    	width: 70% ;
    	margin-left: -70% ;
    	transition: :  4s ;
    }

    .menu ul {
    	flex-direction: column;
    	float: none;

    }

    .menu li{
    	border-top: 1px solid #fff ;
    }

    #menu-bar:checked ~ .menu{
    	margin: 0 ;
    }


}



